/* #627091
#A650DC */
:root {
    --main-color: rgb(241, 227, 179);
    --second-bg: rgb(238, 235, 198);
    --secondary-color: #0e8aa8;
    --color3: rgb(36, 197, 181);
    --color4: rgb(7, 107, 99);
    --purple: #6e50dc;
    --purple-light: #9476ff;
    --navbar: rgb(255, 249, 181);
    --navbar-shadow: rgb(141, 140, 107);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    color: var(--color5);
    font-family: "Roboto Mono";
}



/* navbar */
#navbar {
    z-index: 10;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar);
    color: var(--purple);
    box-shadow: 0px 4px 5px 0px var(--navbar-shadow);
}

.buttons {
    display: flex;
}

.buttons div {
    margin: 10px;
}

.buttons a {
    color: inherit;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.buttons a:hover {
    text-decoration: underline var(--secondary-color) 3px;
}

#logo {
    margin: 10px;
}



#hamburger-menu {
    display: hidden;
}



/* Cover */
#section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 10% 0px 10%;
    /* border-bottom: 2px solid #27d2fd; */
}

#me {
    margin: 20px 50px 20px 20px;
    width: 500px;
    max-width: 70vw;
}

#greeting {
    color: var(--purple);
    font-size: 28px;
    font-weight: 700;
    font-family: "kumar One Outline";
    text-align: center;
}

#name {
    color: var(--main-color);
    text-shadow: -2px 2px 0px var(--color3),
        1px -1px 0px var(--color3), 1px 1px 0px var(--color3),
        -1px -1px 0px var(--color3);
    font-family: "Alex Brush";
    font-size: 46px;
    font-weight: 800;
}

#occupation {
    color: #627091;
    font-size: 22px;
    width: 251px;
    margin-bottom: 2vh;
}

#bio {
    background-color: var(--second-bg);
    border-radius: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 5vh 7vw;
}

#bio p {
    color: var(--secondary-color);
    font-family: "Roboto Mono";
    font-size: large;
    font-weight: bold;
}

/* Divide */
.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 2vw;
}

.divline {
    height: 4px;
    width: 100vw;
    background-color: var(--purple);
    border-radius: 50px;
}

.divider_text {
    margin: 0px 2vw;
    font-size: 20px;
    font-weight: 900;
}

/* Skills */
.skills_section {
    background: var(--second-bg);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2vh 2vw;
}

.skill_category {
    list-style: none;
    padding: 5vh 5vw;
}

.skill_title {
    font-family: "kumar One Outline";
    color: var(--purple);
    font-size: large;
    text-align: center;
}

.skill {
    background: var(--main-color);
    margin: 1vh 1vw;
    padding: 5px;
    text-align: center;
    border: var(--secondary-color) solid 1px;
    /* border-radius: 25px; */
}

/* Project*/
#projects-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project_container {
    margin: 8vh 2vw;
}

.project_bg {
    width: 20vw;
    min-width: 230px;
    min-height: 62vh;
    background-color: var(--second-bg);
    box-shadow: 0px 0px 2px 0px var(--color3);
}

@media screen and (min-width: 601px) {


    .bg1,
    .bg2,
    .bg3 {
        position: absolute;
        transition: transform 0.5s ease;
    }

    .bg1 {
        z-index: 1;
        transform: translate(2%, -98%);
    }

    .bg2 {
        z-index: 2;
        transform: translate(2%, -98%);
    }

    .bg3 {
        z-index: 3;
        transform: translate(4%, -96%);
    }

    .project_container:hover .bg1 {
        transform: translate(4%, -96%);
    }

    .project_container:hover .bg2 {
        transform: translate(8%, -92%);
    }

    .project_container:hover .bg3 {
        transform: translate(12%, -88%);
    }
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
}

.project_title {
    font-size: 14px;
    font-family: "Roboto Mono";
    text-align: center;
}

.project_img_anchor {
    width: 80%;
}

.project_img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--color3);
    transition: transform .5s ease;
}

.project_img:hover {
    transform: scale(1.25);
}

.project_description {
    color: var(--secondary-color);
    font-family: "Roboto Mono";
    font-size: 11px;
    font-weight: bold;
    margin: 0px 24px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.github_icon {
    height: 34px;
    /* aspect-ratio: 1; */
    width: fit-content;
    border-radius: 10px;
    margin: 0px;
}

.github_icon .icon_logo {
    height: 100%;
    aspect-ratio: 1;
}

.github_icon .test_logo {
    width: 80%;
}

.icons a {
    text-decoration: none;
    font-size: 30px;
    display: flex;
}


/* Contact me */
#contact-section {
    display: flex;
    justify-content: center;
}

#contact-parent {
    background: var(--second-bg);
    display: flex;
    justify-content: center;
    padding: 5vh 5vw;
    /* min-width: 50vw; */
    margin-bottom: 20px;
    border-radius: 10px;

}

h3.contact {
    color: var(--purple);
    font-family: "Roboto";
}

form.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.contact,
textarea.contact {
    margin: 5px;
    height: 35px;
    min-width: 100%;
    border: none;
    border-radius: none;
    background-color: rgb(240, 251, 255);
    padding: 0px 10px;
    font-family: "Roboto";
}

input.contact:focus,
textarea.contact:focus {
    outline: none;
}

textarea.contact {
    padding-top: 5px;
}

button.contact {
    background-color: var(--purple-light);
    border: none;
    border-radius: 100px;
    height: 35px;
    min-width: 60%;
    color: var(--second-bg);
    font-family: "Roboto";
    margin-top: 5px;

}

button.contact:hover {
    background-color: var(--purple);
    cursor: pointer;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purple);
    color: var(--main-color);
    padding: 10px 0px 0px 0px;
    height: 20vh;
    overflow-x: hidden;
    padding-left: 20px;
}

a.footer {
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 10px;
    margin: 10px;
    transform: rotateZ(30deg) translateX(-10%);
    transition: transform .5s ease;
}

a.footer:hover {
    transform: rotateZ(0deg);
}

img.footer {
    height: 5vh;
    width: 5vh;
}

p.footer.view-source {
    color: var(--purple);
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 600px) {
    a.footer {
        transform: rotate(0deg);
        margin: 0px;
    }

    footer {
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .buttons {
        display: block;
        min-height: 100vh;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        padding: 15vh 0px 0px 0px;
        background-color: var(--second-bg);
        transition: left 0.5s ease;
        z-index: 1;
    }

    .buttons.selected {
        left: 0px;
        padding: 15vh 0px 0px 0px;
    }

    .bg0,
    .bg1,
    .bg2 {
        display: none;
    }

    .bg3 {
        position: static;
    }

    .project_container {
        margin: 5vw 2vw;
    }

    .project_img:hover {
        transform: none;
    }

    #logo {
        margin-left: auto;
        margin-right: auto;
    }

    #hamburger-menu {
        display: flex;
        flex-direction: column;
        margin-right: 5vw;
        z-index: 2;
    }

    #hamburger-menu .line {
        display: visible;
        background-color: var(--purple);
        width: 40px;
        height: 5px;
        margin-top: 5px;
        border-radius: 10px;
        transition: transform 0.5s ease;
    }

    #hamburger-menu .l2 {
        transition: width .5s ease;
    }

    #hamburger-menu.selected .l2 {
        width: 0px;
    }


    #hamburger-menu.selected .l1 {
        transform: translateY(10px) rotate(45deg);
    }

    #hamburger-menu.selected .l3 {
        transform: translateY(-10px) rotate(-45deg);

    }




    #bio p {
        font-size: 11px;
        font-weight: normal;
    }


}

/* Make projects smaller to ensure the project transform animation doesn't push off screen and induce horizontal scroll bar for tiny screens (Galaxy Fold) */
@media screen and (max-width:300px) {
    .project_bg {
        min-width: 200px;
    }
}