/* #627091
#A650DC */
:root {
    --main-color: rgb(241, 227, 179);
    --second-bg: rgb(238, 235, 198);
    --secondary-color: #0e8aa8;
    --color3: rgb(36, 197, 181);
    --color4: rgb(7, 107, 99);
    --purple: #6e50dc;
    --navbar: rgb(255, 249, 181);
    --navbar-shadow: rgb(141, 140, 107);

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    color: var(--color5);
    font-family: "Roboto Mono";
}



/* navbar */
#navbar {
    z-index: 10;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar);
    color: var(--purple);
    box-shadow: 0px 4px 5px 0px var(--navbar-shadow);
}

.buttons {
    display: flex;
}

.buttons div {
    margin: 10px;
}

.buttons a {
    color: inherit;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.buttons a:hover {
    text-decoration: underline var(--secondary-color) 3px;
}

#logo {
    margin: 10px;
}

#hamburger-menu {
    display: hidden;
}



/* Cover */
#section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 10% 0px 10%;
    /* border-bottom: 2px solid #27d2fd; */
}

#me {
    margin: 20px 50px 20px 20px;
    width: 500px;
    max-width: 70vw;
}

#greeting {
    color: var(--purple);
    font-size: 28px;
    font-weight: 700;
    font-family: "kumar One Outline";
    text-align: center;
}

#name {
    color: var(--main-color);
    text-shadow: -2px 2px 0px var(--color3), 1px -1px 0px var(--color3), 1px 1px 0px var(--color3),
        -1px -1px 0px var(--color3);
    font-family: "Alex Brush";
    font-size: 46px;
    font-weight: 800;
}

#occupation {
    color: #627091;
    font-size: 22px;
    width: 251px;
    margin-bottom: 2vh;
}

#bio {
    background-color: var(--second-bg);
    border-radius: 25px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 5vh 7vw;
}

#bio p {
    color: #69799e;
    color: var(--secondary-color);
    font-family: "Roboto Mono";
    font-size: larger;
}

/* Divide */
.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 2vw;
}

.divline {
    height: 4px;
    width: 100vw;
    background-color: var(--purple);
    border-radius: 50px;
}

.text {
    margin: 0px 2vw;
    font-size: 20px;
    font-weight: 900;
}

/* Project*/
#projects-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40vh;
}

.project_bg {
    width: 20vw;
    min-width: 230px;
    aspect-ratio: 1;
    background-color: var(--second-bg);
    box-shadow: 0px 0px 2px 0px var(--color3);
    /* position:absolute; */
}

.bg1,
.bg2,
.bg3 {
    position: absolute;
    transition: transform 0.5s ease;
}

.bg1 {
    z-index: 1;
    transform: translate(2%, -98%);
}

.bg2 {
    z-index: 2;
    z-index: 1;
    transform: translate(2%, -98%);
}

.bg3 {
    z-index: 3;
    z-index: 1;
    transform: translate(4%, -96%);
}
.project_container:hover .bg1 {
    transform: translate(4%, -96%);
}.project_container:hover .bg2 {
    transform: translate(8%, -92%);
}
.project_container:hover .bg3 {
    transform: translate(12%, -88%);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}

.project_img {
    width: 80%;
    border-radius: 10px;
    border: 2px solid var(--color3);
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.github_icon {
    width: 20%;
    aspect-ratio: 1;
    border-radius: 10px;
    margin: 0px;
}

.github_icon img {
    width: 100%;
}

.icons a {
    text-decoration: none;
    font-size: 40px;
}

@media screen and (max-width: 600px) {
    .buttons {
        display: none;
    }

    #logo {
        margin-left: auto;
        margin-right: auto;
    }

    #hamburger-menu {
        display: flex;
        flex-direction: column;
        margin-right: 5vw;
    }

    .line {
        display: visible;
        background-color: var(--purple);
        width: 40px;
        height: 1vw;
        margin-top: 5px;
        border-radius: 10px;
    }

    #projects-section {
        flex-wrap: wrap;
    }

    .card {
        margin-top: 3vh;
    }

    #bio p {
        font-size: 11px;
    }
}